.body {
  padding: 0 20%;
}
header {
  max-height: 70px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
input {
  margin-bottom: 20px;
}
input:hover {
  cursor: pointer;
}
input[type="submit"] {
  padding: 4px;
  font-size: 1.5rem;
}
.header-logo {
  max-height: 70px;
}

footer {
  width: 100%;
}

@media (max-width: 750px) {
  .body {
    padding: 0 20px;
  }
}
