<!Doctype html>
<html>
    <head>
        <title>Latex to HTML</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <header>
            <img class="header-logo" src="{{ url_for('static',filename='logo.jpg') }}"></img>
        </header>
        <div class="body">
        {% block content %}
        {% endblock%}
        </div>
        <footer>

        </footer>
    </body>
</html>