{% extends "base.html" %}
{% block content %}
<div >
    <h1>Convert Latex to Accessible HTML</h1>
    <p>Make sure your latex</p>
    <form action="{{ url_for('convert') }}" method="post" enctype="multipart/form-data">
        <label for="upload-latex">upload</label>
        <input id="upload-latex" name="latexFile" type="file" accept=".zip,.rar,.7zip"/>
        </br>
        <input  type="submit" value="submit"></input>
    </form>
    {% if file %}
    <a target="__blank" href="{{ file }}">download</a>
    {% endif %}

</div>
{% endblock %}
        
 